/* -----------------------------
TODO:

Dani
- Global fonts and sizing for text  
- Add pictures to popular SSGs
- Make grid pretty

Aaron
- Style header
- Tweak tech overview & pros and cons sections
- Add content for tech overview, what it is & what does it do

Matthew
- Style what is
- Footer

Lianrejo
- Style why
-------------------------------- */



/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Colour Reference
----------------------------
-- Main --
Gunmetal - #253237
French Gray - #C7C6DC
Melon - #EAAFA9

-- Optional --
Dark Cambridge Blue - #8D9F87
Light Cambridge Blue - #9EC5AB
---------------------------- */


/* Typography
--------------------------------------------- */
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    background-color:#253237;
    color: #FAF9F6;
    font-size: 1rem;	
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin: 2.8125rem 0;
}

h2,
h3
{
    font-size: 2rem;
    text-align: center;
}

h2 {
    margin: 5rem 0 3rem;
}

/* Elements
--------------------------------------------- */

li{
	list-style: none;    
}



/* Links
--------------------------------------------- */
a,
a.visited {
	color: #253237;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color:#05032b;
}

a:focus {
    background-color: #9EC5AB;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.site-wrapper {
	max-width: 120rem;
	margin: 0 auto;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
section {
	padding: 0 3rem;
	margin-bottom: 2rem
}

/* Header
--------------------------------------------- */
.site-header {
    background-color: #C7C6DC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0.8;
    padding: 0 1rem;
    font-weight: 700;
    
}

.header-title {
    font-size: 1.5rem;
    display: inline-block;
    padding: 1.5rem 0;
    font-weight: 700;
}

.site-nav {
    display: block;
    padding: 0.5rem;
}

.site-nav a {
    padding: 0.5rem;
}

.site-nav ul {
    padding: 0;
    margin: 0;
}

.site-nav ul li {
    display: inline-block;
}

/* Main
--------------------------------------------- */
.site-main {
    padding: 2rem 0;
}


/* Section: Tech Overview
------------------- */
.overview-articles {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.tech-overview h3 {
    display: block;
    padding: 0 3rem;
}

.tech-overview article {
    display: block;
    align-items: center;
    width: 30rem;
}

/* Blocks used in Tech Overview and What is sections */
.blocks {
    background-color: #C7C6DC;
    margin: 2rem auto;
    padding: 0 1.5rem 0.75rem;
    border-radius: 2rem;
}

.blocks h2,
.blocks h3,
.blocks p {
    color: #253237;
}


/* Section What is:  ------------------------------------ */

.what-is-it ul {
    display: block;
    align-items: center;
    margin: 1rem ;
    padding: 0 3rem;
    width: 30rem;
    text-align: left;
}

.what-is-it-title {
    display: block;
    padding: 0 3rem;
    margin: 1.75rem 0 1rem;
}

.what-is-it ul li {
    margin-bottom: 0.5rem;
}

.what-is-it {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.what-is-it ul p {
    margin: 0;
}

.what-is-it h3 {
    margin: 1rem;
}

/* Section: What does it do ------------------------ */

.what-does-it-do-title {
    padding: 0 5rem;
}

.what-does-it-do p {
    margin: 0 3rem;
    padding: 0 5rem;
}

/* Section Why ------------------------------------ */

.why-title {
    padding: 0 3rem;
    margin-bottom: 1rem; 
}

.why-articles {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 2rem;
}

.why-articles article {
    width: 24.0625rem;
}

/*Section Where
------------------- */
.grid-where {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    max-width: 50rem;
    padding-bottom: 1rem;
    margin: 0 auto;   
}

.grid-where div{
    align-items: center;
    padding: .625rem;
    border: 1px solid #9EC5AB;
    border-radius: .625rem;
    background-color:  #9EC5AB;
    color: #253237;
    font-weight: 600;
}

.flex-item-grid {
    display: flex;
}

.where p {
    width: 100%;
    text-align: center;
}
       
.grid-where .documentation{
    grid-column: 1/2;
    grid-row: 1/2;  
}

.grid-where .landing  {
    grid-column: 1/2;
    grid-row: 2/4;
}

.grid-where .personal{
    grid-column: 2/4;
    grid-row: 1/2; 
}

.grid-where .portfolio {
    grid-column: 2/4;
    grid-row: 2/3;  
}

.grid-where .educational  {
    grid-column: 2/4;
    grid-row: 3/4;
}

.grid-where .company  {
    grid-column: 4/6;
    grid-row: 1/2;   
}

.grid-where .brochure  {
    grid-column: 4/5;
    grid-row: 2/4;
}

.grid-where .event  {
    grid-column: 5/6;
    grid-row: 2/4
}


/* Section Pros & Cons
----------------------- */


.list-section {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    color: #253237;
}

.pros-cons-title {
    display: block;
    padding: 0 3rem;
}

.list {
    display: block;
    align-items: center;
    background-color: #C7C6DC;
    border-radius: 2rem;
    margin: 1rem;
    padding: 0 3rem 1.5rem;
    width: 33rem;
}

.pros-cons dl dt {
    font-weight: 700;
    padding: 2rem 0 1rem;
}

.pros-cons dl dt,
.pros-cons dl dd {
    /* padding: 0.75rem 0; */
    margin: 0 auto;
}


/* Section popular SSGs */

.images-popular-ssgs {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto;
    gap: 1rem;
    justify-content: center;
    align-items: stretch;
    row-gap: 2rem;
    margin-bottom: 6rem;
}

.images-popular-ssgs img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.commonly-used figcaption {
    font-size: small;
    padding-top: .5rem;
}

.commonly-used ul {
    line-height: 2;
    margin: 4rem auto;
    padding: 0;
}

.commonly-used strong {
    font-weight: 800;
}

/* Footer
--------------------------------------------- */
.site-footer {
    background-color: #C7C6DC;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-footer p {
    display: inline-block;
    padding: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #253237;
}